

<div class='contenedor_Footer'>
    <div class='contenedor_Menu'>
        <div class='menuFooter'>
            <div class='menu'>
                <h5 class='tituloAnclas' href="">Bookish</h5>
                <a class='anclas' href="">About</a>
                <a class='anclas' href="">Team</a>
                <a class='anclas' href="">Policies</a>
                <a class='anclas' href="">Carres</a>
                <a class='anclas' href="">Press</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Explore</h5>
                <a class='anclas' href="">Home</a>
                <a class='anclas' href="">About</a>
                <a class='anclas' href="">Trust & Safety</a>
                <a class='anclas' href="">Sustainability</a>
                <a class='anclas' href="">FAQs</a>
                <a class='anclas' href="">Get help</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Top cities</h5>
                <a class='anclas' href="">Atlanta</a>
                <a class='anclas' href="">Austin</a>
                <a class='anclas' href="">Boston</a>
                <a class='anclas' href="">Chariotte</a>
                <a class='anclas' href="">Chicago</a>
                <a class='anclas' href="">Dallas</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Section</h5>
                <a class='anclas' href="">Delivery</a>
                <a class='anclas' href="">Payment</a>
                <a class='anclas' href="">Price</a>
                <a class='anclas' href="">Writers</a>
            </div>
        </div>
        <div class='redes_Footer'>

            <h3 class='titulo_redes'>Bookish</h3>
            <a class='redes' href=""><i class="bi bi-youtube"></i></a>
            <a class='redes'  href=""><i class="bi bi-instagram"></i></a>
            <a class='redes'  href=""><i class="bi bi-facebook"></i></a>
            <a class='redes'  href=""><i class="bi bi-twitter"></i></a>

        </div>
     
    
    </div>
    
   

<div class='raya'></div>
    <p class='parrafoFooter'>copyright @ 2023 turo corporation All rights reserved </p>




</body>
</html>