</div>

<div class='ContenedorFormulario'>
    <div class='contenedor_Titulo_Parrafo'>
    <h2 class='tituloForm'>Feel Free To Ask</h2>
    <p class='parrafo'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, tempore molestias eaque magni atque id laboriosam consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, soluta explicabo rerum nemo asperiores minima deleniti aperiam libero repellendus delectus </p>
    </div>
    
    <form class='Formulario' >
        <div class='input_1'>
            <input class='inputNombre' type="text" placeholder='Nombre'/>
            <input class='inputGmail' type="text" placeholder='gmail' />
        </div>

        <div class='input_2'>
            <textarea class='descripcion' name="" id="" cols="30" rows="10" placeholder='Your text'></textarea>
            <button class='boton'>Send</button>
        </div>
    </form>
    

</div>