<body>
    <header>
      <div class="header-izq">
        <h1 id="logo">Logo</h1>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Quienes Somos</a>
          <a href="#">Contacto</a>
          <a href="#">Comprar por Autor</a>
          <a href="#">Categorías</a>
        </nav>
      </div>

      <div class="header-der">
        <input type="search" name="buscar" id="buscar" placeholder="Buscar" />
        <img src="#" alt="campana" />
        <img src="#" alt="carrito" />
        <img src="#" alt="usuario" />
      </div>
    </header>