/*formulario*/

*:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .ContenedorFormulario{
   background:linear-gradient( rgba(14, 13, 13, 0.1) 0%,rgba(14, 13, 13, 0.1) ), url('./img/formulario1.jpg')center,no-repeat;
   background-size: cover;
   width: 100vw;
   height: 70vh;
  }
  .contenedor_Titulo_Parrafo{
    width: 100vw;
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color:rgb(255,255,255) ;
  }
  .tituloForm{
    color: white;
    font-size: 31px;
    margin-bottom: -4px;
  }
  
  .parrafo{
    color: white;
    width: 56%;
    font-size: 16px;
    text-align:center;
    margin-top: 29px;
  }
  
  .Formulario{
    margin-top: 53px;
  }
  
  
  .input_1{
    display: flex;
    justify-content: center;
    height: 60px;
  
  }
  .inputNombre{
    width: 517px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
  .inputGmail{
    width: 517px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .input_2{
  
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
  }
  
  .descripcion{
    width: 55%;
    height: 30vh;
    border: none;
    border-radius: 5px;
  }
  
  ::placeholder{
    padding: 10px 10px;
  }
  
  .boton{
    border-radius: 20px;
    width: 75px;
    padding: 5px;
    margin-top: 30px;
    background-color:rgb(255,193,7) ;
    border: none;
  }
  
  