
/*registrarse*/
.contenedor-login{
    background-color: rgb(235,235,235);
    height: 53vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}
.contenedor-loginAdmin{
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;

   }
.input-login{

    width: 320px;
    height: 40px;
    border-radius: 17px;
   border: 1px solid black;
    margin:10px ;
}

.titulo-sesion{
    margin: 11px;
}
.olvide-login{
    margin-left: 13px;
    color: blue;
}


 
  .boton:hover{
    background:linear-gradient(rgba(231, 216, 6, 0.4) 0%,rgba(239, 243, 24, 0.4) ) ;
    color: white;
  }
  .btn-registrarse{
      width: 107px;
      height: 35px;
      color:rgb(59,47,10);
      padding: 5px ;
      margin-top: 30px;
      margin-left: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border-radius: 20px;
      border: 2px solid #ffd819;
      background:rgb(255,193,7);
  }
  .btn-registrarse:hover {
      background: #fff;
      color: #ffd819
  }
  .btn-login{
    width: 211px;
    height: 35px;
    color:rgb(59,47,10);
    padding: 5px ;
    margin-top: 30px;
    margin-left: 73px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ffd819;
    background:rgb(255,193,7);

  }
  .btn-login:hover {
    background: #fff;
    color: #ffd819
}
  
.login-mensaje{
    display: flex;
    background-color: #ebebeb;
    height: 19vh;
    align-items: center;
    justify-content: flex-start;


}
.login-registrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 72%;
    border: 1px solid black;
    border-radius: 10px;

}
/*administrador*/
.login-admin{
    display: flex;
    justify-content: flex-end;
    background-color:#ebebeb ;
    color: blue;
    padding-right: 10px;
}

/*olvide contraseña*/
.olvide-contraseña{
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

/*todos usuarios*/
.admin-titulo{
    margin: 45px;
}
.admin-usuarios{
    height: 56vh ;
    margin: 45px;
}

/*editar usuarios*/
.admin-editar{
    height: 68vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 


.input-admin{
  
    width: 320px;
    height: 40px;
    border-radius: 5px;
   border: 1px solid black;
    margin:10px ;
}  

  /* Estilos para el layout del dashboard */
  .dashboard-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .main-content {
   width: 90%;
  }
  
  /* Estilos para las etiquetas de la barra lateral */
  .sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    font-weight: bold;
  }
  
  /* Estilos para la barra de navegación superior */
  .navbar-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el botón de cerrar sesión */
  .logout-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }


  .dashboard-container{
    height: 74vh;
  }