



<div class="admin-editar">
    <h1>Editar Usuarios</h1>
    <%- include('../../pages/partials/mensajes.ejs') %>
    
    <div>
        <form action="/editar/<%= usuarios.id %>?_method=PUT" method="POST"> 
            <input type="hidden"name=_method value="PUT">

            <div>
                <input class="input-admin" value="<%= usuarios.nombre %>" type="text" name="nombre"placeholder="ingrese su nombre">
               
            </div>
            <div>
                <input class="input-admin"  value="<%= usuarios.email %>" type="email" name="email"placeholder="ingrese su email">
                
            </div>
           
            <button type="submit">Actualizar datos</button>
            <a href="/login">Volver al login</a>


          
        </form>
    </div>
</div>
