<div>
    <h1>Registrarse admin</h1>
    
    <div>
        <form action="/registrarseAdmin" method="POST"> 
            <div>
                <input type="text" name="nombre" placeholder="nombre">
            </div>
            <div>
                <input type="email" name="email" placeholder="ingrese su email">
            </div>
            <div>
                <input type="password" name="password" placeholder="ingrese su password">
            </div>
            <a href="/loginAdmin">Volver al login</a>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
