<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>
<div>
    
    <div class="olvide-contraseña">
        <h1>Restablecer contraseña</h1>
        <%- include('../../pages/partials/mensajes') %>
        <form action="/olvide" method="POST"> 
            <div>
                <input type="email" name="email"placeholder="ingrese su email">
                <button type="submit">enviar email</button>
            </div>
            <a href="/login">Volver al login</a>




        </form>
    </div>
</div>
<%- include('../../pages/partials/footer') %>